body {
    font-family:Arial, Helvetica, sans-serif;
    color:white;
    background-color: #ff9999;
}
header {
    padding: 40px 35px;
    background-color:#ff6666;
    display:flex;
    justify-content: space-between;
    flex-wrap:wrap;
}
header h1 {
    font-weight: bold;
    font-size: 60px;
}
header nav ul li {
    display: inline-block;
}
header a {
text-decoration-style:double;
color: white;
font-size:30px;
margin-right:60px;
}
.intro  {
    
    display: flex;
    justify-content: space-between;
    } 
.intro img {
    width:250px;
    height: auto;
    border-style: solid;
    border-width: 5px;
    border-color:#ff6666;
    } 
    .intro p {
    color:#993333;
    width: 40%;
    font-size: 30px;
    }
    .intro div {
        margin: 0 auto;
    }
    